{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "unicorn/no-abusive-eslint-disable": 1,
    "unicorn/prefer-node-protocol":0,
    "unicorn/import-style": 1,
    "unicorn/no-array-reduce": 1
  }
}
